{% set GA_ID = GA_ID or "G-EMQ3D0X8K7" %}
{% set YM_ID = YM_ID or 103413788 %}
{# Google Analytics #}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_ID }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}  
  gtag('js', new Date());
  gtag('config', '{{ GA_ID }}');
</script>

{# Yandex.Metrika #}
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){ m[i]=m[i]||function(){ (m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date(); k=e.createElement(t), a=e.getElementsByTagName(t)[0]; k.async=1; k.src=r; a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
  ym({{ YM_ID }}, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/{{ YM_ID }}" style="position:absolute; left:-9999px;" alt="yandex metrika pixel" /></div></noscript>